*{
    margin: 0;
    padding: 0;
    font-family: 'Pokemon Solid', sans-serif; 
}

#main{
    min-height: 100vh;
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://images6.alphacoders.com/420/420248.jpg);
    background-size: 100vh 100vh;
}


h1{
    color:rgb(39, 81, 232);
    font-size: 3rem;
}

#letsgo{
    padding: 10px 30px 10px 30px;
    font-size: 2rem;
    background-color: yellow;
    border-radius: 25px;
}

#letsgo:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 10px black;
}

#generatepokemon{
    min-height: 100vh;
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://images6.alphacoders.com/420/420248.jpg);
    background-size: 100vh 100vh;
}

#pokemon{
    font-size: 3rem;
    color:rgb(39, 81, 232);
}

#yourpokemon{
    font-size: 3rem;
    color:rgb(39, 81, 232);
}

#save{
    padding: 10px 30px 10px 30px;
    font-size: 2rem;
    border-radius: 30px;
    background-color: yellow;
}
#save:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 10px black;
}

#again{
    padding: 10px 30px 10px 30px;
    font-size: 2rem;
    border-radius: 30px;
    background-color: yellow;
}
#again:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 10px black;
}

#savedpokemon{
    min-height: 100vh;
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://images6.alphacoders.com/420/420248.jpg);
    background-size: 100vh 100vh;
}

#list {
    font-size: 2rem;
}

#clearbutton{
    font-size: 1.5rem;
    margin: 30px 0 0 0;
    padding: 10px 20px 10px 20px;
    background-color: yellow;
    border-radius: 20px;
}

#clearbutton:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 10px black;
}

#goback{
    font-size: 1.5rem;
    margin: 30px 0 0 0;
    padding: 10px 20px 10px 20px;
    background-color: yellow;
    border-radius: 20px;
}

#goback:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 10px black;
}

h6{
    font-size: 3rem;
    color:rgb(39, 81, 232)
}